<header class="newspaper-header" style="background-image: url('/assets/images/1.jpg');">
    <div class="header-overlay"></div>
    <div class="header-content-wrapper"> <img src="/assets/images/ава.png" alt="Creator mark" class="creator-icon">
        <div class="container header-container">
            <p class="pre-title reveal">МАТЕРИАЛЫ РАССЛЕДОВАНИЯ // ТОЛЬКО ДЛЯ ОЗНАКОМЛЕНИЯ</p>
            <h1 class="main-title reveal">
                TANIA <span>HEAD</span>
            </h1>
            <p class="case-id reveal">CASE #911-SURVIVOR-FRAUD</p>
        </div>
    </div>
</header>
